<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!-- DirectX managed wrapper is written for.NET 1.1; usageLegacyV2RuntimeActivationPolicy enables loading that -->
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
  </startup>

</configuration>
